:root {
  /* color */
  --primary-color: #1e6f5c;
  --btn-color: #e6dd3b;
  --heading-color: #ece7b4;
  --black-color: #2e2828;

  /* font */
  --heading-font: 'Montserrat', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 2000px;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  list-style: none;
}

.container {
  max-width: 1420px;
}

.section-margin {
  margin-top: 250px;
}

/* navbar start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navbar.active {
  background-color: #fff;
  box-shadow: 0 1px 10px #00000040;
  height: 100px;
}

.navbar .container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .menu-wrapper .menu {
  margin: 0 auto;
}

.navbar .logo {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--primary-color);
}

.navbar .logo span {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--heading-color);
}

.navbar .menu a {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: 400;
  color: #1e1b1b;
  margin: 0 20px;
}

.navbar .menu a.active {
  color: var(--primary-color);
  font-weight: 800;
}

.navbar .icons i {
  font-size: 25px;
  color: var(--primary-color);
}

.navbar .icons .icon {
  margin-right: 20px;
}

.navbar .menu-open {
  font-size: 40px;
  color: var(--primary-color);
}

.menu-open,
.menu-close {
  display: none;
}
/* navbar end */

/* home start */
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
  padding: 60px 95px;
  background-color: var(--primary-color);
}

.home .content-right {
  max-width: 500px;
}

.home .swiper-wrapper {
  padding-bottom: 60px;
}

.home .heading {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 50px;
  color: #ece7b4;
}

.home .sub-heading {
  font-size: 20px;
  font-weight: 300;
  color: #e2e2e2;
  width: 460px;
  margin-top: 15px;
}

.home .btn-home {
  margin-top: 120px;
}

.btn-home .btn-explore {
  padding: 16px 24px;
  background-color: var(--btn-color);
  color: var(--primary-color);
  border-radius: 8px;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--btn-color);
}

.btn-home .btn-learn {
  margin-left: 40px;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
}

.btn-home .btn-explore:hover {
  background-color: #fff;
  border: 2px solid #fff;
}

.btn-home .btn-learn:hover {
  background-color: var(--btn-color);
  color: var(--primary-color);
}

.swiper img {
  display: block;
  margin: auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 1;
  border: 2px solid #e6dd3b7a;
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #e6dd3b;
}
/* home end */

/* panel start */
.panel {
  margin-top: 250px;
}

.panel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.panel .item {
  display: flex;
  align-items: center;
}

.item .icon {
  background-color: var(--primary-color);
  border-radius: 30px 5px;
  padding: 25px;
}

.item .icon i {
  color: #fff;
  font-size: 40px;
}

.item .text-panel {
  margin-left: 30px;
}

.text-panel .title {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 25px;
  color: #2e2828;
}

.text-panel .subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #2e2828;
  margin-top: 10px;
}
/* panel end */

/* service start */
.service {
  margin-top: 250px;
}

.service .container {
  margin: auto;
}

.service .label {
  font-family: var(--heading-font);
  font-weight: 800;
  color: var(--primary-color);
}

.service .title {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 700;
  color: #2e2828;
  margin-top: 20px;
}

.service .row1 {
  text-align: center;
}

.service .row2 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row2 .img-box {
  position: relative;
}

.row2 .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 111, 92, 0.52);
  backdrop-filter: blur(6.5px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0% at 50% 50%);
}

.row2 .img-box:hover .detail {
  clip-path: circle(70.7% at 50% 50%);
}

.row2 .detail a {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 25px;
  color: #ece7b4;
}
/* service end */

/* banner start */
.banner {
  margin-top: 250px;
}

.banner .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner .banner-right {
  display: flex;
  flex-direction: column;
}

.banner .banner-right .img-box {
  max-width: 670px;
}

.banner .banner-left .img-box {
  max-width: 635px;
}

.banner-left .img-box img,
.banner-right .img-box img {
  width: 100%;
}
/* banner end */

/* product start */
.product {
  margin-top: 250px;
}

.product .container {
  margin: auto;
}

.product .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .row1 .label {
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--primary-color);
}

.product .row1 .heading {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
  margin-top: 15px;
  max-width: 735px;
}

.product .btn-slider {
  color: var(--btn-color);
  font-size: 60px;
}

.product .btn-slider i {
  cursor: pointer;
}

.product .row2 {
  margin-top: 100px;
}

.product .card-product {
  width: 335px;
  background: #1e6f5c;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 50px 10px;
  padding: 35px 25px;
  position: relative;
}

.card-product img {
  display: block;
  margin: auto;
}

.card-product .card-body {
  margin-top: 50px;
}

.card-product .product-name {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 20px;
  color: #ece7b4;
}

.card-product .star {
  margin-top: 10px;
  font-size: 24px;
  color: var(--btn-color);
}

.card-product .stock {
  color: #fff;
  margin-top: 5px;
}

.card-product .price {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
  margin-top: 20px;
}

.card-product .btn-card {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px;
  background: #e6dd3b;
  border-radius: 30px 0px 50px;
}

.card-product .btn-card:hover {
  background-color: #fff;
}

.card-product .btn-card i {
  font-size: 35px;
  color: #1e6f5c;
}
/* product end */

/* testimoni start */
.testi {
  margin-top: 250px;
}

.testi .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.testi .container .content-left {
  max-width: 450px;
}

.testi .container .content-right {
  max-width: 750px;
}

.testi .content-left .label {
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--primary-color);
}

.testi .content-left .heading {
  margin-top: 20px;
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
}

.testi .content-left .subheading {
  margin-top: 30px;
  font-size: 20px;
  color: var(--black-color);
}

.testi .card-testi {
  background: #1e6f5c;
  border-radius: 50px 10px;
  padding: 60px 30px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card-testi .date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}

.card-testi .profile {
  text-align: center;
}

.card-testi .profile .name {
  margin-top: 10px;
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 20px;
  color: #ece7b4;
}

.card-testi .profile .location {
  font-family: var(--main-font);
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.card-testi .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-testi .card-body {
  width: 460px;
}

.card-testi .card-body i {
  font-size: 50px;
  color: #ece7b4;
}

.card-testi .card-body .text-testi {
  color: #fff;
}

/* testimoni end */

/* contact start */
.contact .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .content-left .label {
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--primary-color);
}

.contact .content-left .heading {
  margin-top: 20px;
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
}

.contact .thumbnail-contact {
  max-width: 600px;
  max-height: 410px;
  margin-top: 50px;
}

.contact .thumbnail-contact .img-contact {
  width: 100%;
  height: 100%;
}

.contact .content-right .form-group {
  display: flex;
  flex-direction: column;
}

.contact .form-group input,
.contact .form-group textarea {
  width: 650px;
  padding: 20px 40px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: var(--primary-color);
  margin-bottom: 20px;
}

.contact .form-group input::placeholder,
.contact .form-group textarea::placeholder {
  color: #fff;
}

.contact .btn-contact {
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 18px;
  border: none;
  background: var(--btn-color);
}

.contact .btn-contact:hover {
  background: #fff;
  border: 1px solid var(--primary-color);
}
/* contact end */

/* footer start */
.footer {
  background: #1e6f5c;
  border-radius: 50px 50px 0px 0px;
}

.footer .container {
  margin: auto;
  padding-bottom: 20px;
}

.footer .container .row1 {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.footer .content-right {
  display: flex;
  justify-content: space-between;
}

.footer .content-left .logo {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--btn-color);
}

.footer .content-left .logo span {
  color: #ece7b4;
  font-family: var(--heading-font);
  font-weight: 800;
}

.footer .content-left .email {
  font-family: var(--heading-font);
  color: #fff;
  display: block;
  margin-top: 30px;
}

.footer .content-left .phone {
  margin-top: 20px;
  color: #fff;
}

.footer .content-left .icons {
  margin-top: 50px;
}

.footer .icons i {
  font-size: 45px;
  color: var(--btn-color);
}

.footer .content-right > div {
  margin: 0 50px;
}

.footer .content-right h3 {
  font-family: var(--heading-font);
  font-size: 25px;
  font-weight: 700;
  color: #ece7b4;
  margin-bottom: 30px;
}

.footer .content-right li {
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: #fff;
}

.footer .content-right .address {
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: #fff;
}

.footer .row2 {
  text-align: center;
  color: #fff;
}

/* footer end */

/* responsive */
@media screen and (max-width: 768px) {
  .navbar .container {
    padding: 0 15px;
  }
  .navbar .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0.3% at 100% 0);
    transition: 300ms ease-in-out;
  }

  .navbar .menu-wrapper.active {
    clip-path: circle(141.5% at 100% 0);
  }

  .menu-open,
  .menu-close {
    display: initial;
  }

  .navbar .icons i {
    color: var(--btn-color);
  }

  .navbar .menu a {
    display: block;
    text-align: center;
    margin: 50px 0;
  }
  .navbar .menu a.active {
    color: var(--btn-color);
  }

  .navbar .menu-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    color: var(--btn-color);
  }

  .home {
    padding: 0 20px;
  }

  .home .container {
    flex-direction: column;
  }

  .home .heading {
    font-size: 46px;
  }

  .home .sub-heading {
    font-size: 18px;
  }

  .swiper img {
    margin-top: 100px;
    max-width: 300px;
    width: 100%;
  }

  .panel .container {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .panel .item {
    margin-top: 20px;
  }

  .item .icon {
    padding: 20px;
    border-radius: 20px 5px;
  }

  .item .icon i {
    font-size: 30px;
  }

  .service,
  .panel {
    margin-top: 200px;
  }

  .service .title {
    font-size: 26px;
  }

  .service .row2 {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .banner .container {
    justify-content: center;
  }

  .product .container {
    padding: 0 20px;
  }

  .product .row1 {
    flex-wrap: wrap;
  }

  .product .btn-slider {
    margin-top: 30px;
    margin-left: auto;
  }

  .card-product img {
    max-width: 200px;
  }

  .product .row2 {
    margin-top: 80px;
  }

  .testi .container {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .testi .card-testi {
    padding: 40px 30px;
  }

  .testi .content-right {
    margin-top: 50px;
    width: 100%;
  }

  .card-testi .profile .card-testi-img {
    margin-top: 0;
  }

  .contact .container {
    flex-direction: column;
    padding: 0 20px;
  }

  .contact .heading {
    font-size: 26px;
  }

  .contact .thumbnail-contact {
    margin: auto;
    margin-top: 50px;
  }

  .contact .form-group {
    margin-top: 50px;
  }

  .footer .container {
    padding: 0 20px;
    padding-bottom: 20px;
  }

  .footer .row1 {
    flex-direction: column;
  }

  .footer .content-right {
    flex-direction: column;
  }

  .footer .content-right > div {
    margin: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .home .container {
    margin-top: 150px;
    padding: 40px 30px;
  }

  .home .heading {
    font-size: 30px;
  }

  .home .sub-heading {
    font-size: 16px;
    width: 250px;
  }

  .home .btn-home {
    margin-top: 80px;
  }

  .btn-home .btn-explore {
    padding: 14px 16px;
    font-size: 12px;
  }

  .btn-home .btn-learn {
    margin-left: 20px;
    padding: 14px 16px;
    font-size: 12px;
  }

  .swiper img {
    margin-top: 100px;
    max-width: 200px;
    width: 100%;
  }

  .banner {
    margin-top: 150px;
  }

  .banner .container {
    padding: 0 10px;
  }

  .card-testi .profile .card-testi-img {
    width: 70px;
    height: 70px;
  }

  .testi .card-testi {
    padding: 40px 10px;
  }

  .card-testi .card-body {
    width: 200px;
    margin-left: 20px;
  }

  .contact .label {
    font-size: 16px;
  }

  .contact .heading {
    font-size: 20px;
  }

  .contact .form-group input,
  .contact .form-group textarea {
    width: 100%;
    padding: 20px 40px;
  }

  .contact .content-right {
    width: 100%;
  }
}
